---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk at!</a></p>

<p style="text-decoration:underline;"><a href="https://earthquake.usgs.gov/contactus/menlo/seminars/1255">Recording of my USGS seminar about velocity model building and earthquake detection using DAS!</a></p>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
